{% extends 'layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Apply for ELM",
        href: "/apply"
      },
      {
        text: "Select business",
        href: "/apply/businesses"
      },
      {
        text: business.sbi + " - " + business.name,
        href: "/apply/businesses/" + business.sbi
      },
      {
        text: "Eligibility check",
        href: "/apply/businesses/" + business.sbi + "/eligibility"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Eligibility check</h1>

      {% if hasExistingScheme %}
        {{ govukWarningText({
          text: "Your business has one or more existing Countryside Stewardship schemes. Once you submit your ELM application, it will be checked for compatibility with existing agreements.",
          iconFallbackText: "Warning"
        }) }}
      {% else %}
        <p class="govuk-body">
          Your business has no existing agreements with Defra.
        </p>
      {% endif %}

      {{ govukTable(existingSchemesTableDefinition) if existingSchemesTableDefinition }}

      {{ govukButton({
        href: "/apply/businesses/" + business.sbi + "/actions",
        text: "Begin ELM application"
      }) }}
    </div>
  </div>
{% endblock %}
