{% extends 'layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      }]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Apply for Environmental Land Management (ELM)</h1>

      <p class="govuk-body">Use this example service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>select environmental actions you want to do on your land</li>
        <li>calculate the payments you will receive</li>
        <li>view and confirm your agreement</li>
      </ul>

      <p class="govuk-body">Registering takes around 5 minutes.</p>

      {{ govukButton({
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        href: "/apply",
        isStartButton: true,
        text: "Start now"
      }) }}

      <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body">
        The quickest way ro apply for Environmental Land Management is online but you can also:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/">apply by phone</a></li>
        <li>download and complete the <a href="/">Environmental Land Management application form</a> and send it to the <a href="/">Rural Payments Agency</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
